<h2 class="text-center">新規登録</h2>

<%= form_with(model: @user, url: signup_path, local: true) do |f| %>
  <%= render "shared/error_messages", object: @user %>

  <div class="mb-4">
    <%= f.label :name, "お名前", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= f.label :email, "メールアドレス", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, "パスワード", class: "form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "6文字以上で" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, "パスワード再確認", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= f.label :profile_image, "プロフィール画像", class: "form-label" %>
    <%= f.file_field :profile_image, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= f.label :bio, "自己紹介", class: "form-label" %>
    <%= f.text_area :bio, class: "form-control" %>
  </div>

  <div class="mb-3 text-center">
    <%= f.submit "登録", class: "btn btn-outline-primary" %>
  </div>
<% end %>
