<div class="card">
  <div class="card-header card-center">
    <h2 class="text-center"><%= @user.name %>さんのプロフィール</h2>
  </div>
  <div class="card-body">
    <div class="text-center mb-4">
      <%= profile_image_tag(@user) %>
    </div>
    <p><strong>お名前：</strong> <%= @user.name %></p>
    <p><strong>メールアドレス：</strong> <%= @user.email %></p>
    <p><strong>自己紹介：</strong> <%= @user.name %></p>
    <p><%= @user.bio.presence || "自己紹介はありません。" %></p>
  <div>
</div>
